.btn {
  border: none;
  outline: none;
  background: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 3px 10px;
  cursor: pointer;
}

.btn-pry {
  background-color: hsl(200, 100%, 	50%);
  color: #fff;
}

.btn-pry:hover {
  background-color: hsl(200, 100%, 	35%);
}

.btn-danger {
  background-color: hsl(0, 100%, 	50%);
  color: #fff;
}

.btn-danger:hover {
  background-color: hsl(0, 100%, 	45%);
}

.recipe_add-btn {
 padding: 7px 20px; 
} 